@font-face {
  font-family: 'gilroyextrabold';
  src: url('../fonts/gilroyextrabold-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url('../fonts/gilroylight-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
	box-sizing: inherit;
}

/* ::placeholder {
	font-family: 'open_sanslight';
} */

html {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, a {
	margin: 0;
	font-weight: 300;
	text-decoration: none;
	color: #000000;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

form,fieldset {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

button {
	padding: 0;
	margin: 0;
}

button, input, textarea, select {
	font: inherit;
}

.container {
  width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.button {
	display: inline-block;
	position: relative;
	width: 160px;
	font-family: 'gilroyextrabold';
	font-size: 18px;
	line-height: 40px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}

.button:active {
	color: rgba(1,1,1, 0.3);
}

.button::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 8px;
	left: 0;
	top: 16px;
	background-color: #ffc600;
	z-index: -1;
}

.button:hover::before,
.button:focus::before {
	content: '';
	position: absolute;
	height: 40px;
	left: 0;
	top: 0;
	background-color: #ffc600;
	z-index: -1;
	transition-duration: 0.2s;
}

/* .main-header {
  margin-bottom: 55px;
} */

.main-header-background {
  background: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px, #f7e296 100%);
}

.main-header-nav {
  min-height: 190px;
	margin: 0 60px;
	padding-bottom: 51px;
}

.header-user-block {
  display: flex;
  position: relative;
	padding-top: 72px;
	margin-bottom: 31px;
}

.logo {
  position: absolute;
  font-family: 'gilroyextrabold';
  font-size: 48px;
	bottom: 55px;
	left: -3px;
	text-transform: uppercase;
	cursor: pointer;
}

.logo:hover,
.footer-logo:hover {
	opacity: 0.6;
}

.logo:active,
.footer-logo:active {
	opacity: 0.3;
}

.search-form {
  width: 460px;
}

.search-form::before {
	content: "";
	position: absolute;
	top: 90px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	z-index: 1;
}

.search-field {
	position: relative;
	width: 79%;
	min-height: 49px;
	background-color: #f7e296;
	border: none;
	border-top: 2px solid rgba(247,226,150, 0);
	border-bottom: 2px solid rgba(247,226,150, 0);
	padding-left: 39px;
}

.search-field:focus {
	outline: 0;
	border-bottom: 2px solid #000000;
}

.search-field::placeholder {
	font-family: 'open_sanslight';
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	opacity: 0.3;
}

.search-field:hover::placeholder {
	opacity: 0.6;
}

.search-field:focus::placeholder {
	opacity: 1;
}

.search-button {
	width: 85px;
	min-height: 49px;
}

.search-button {
	width: 85px;
	min-height: 49px;
	margin-left: -4px;
	color: #000000;
	background-color: rgba(0,0,0,0);
	display: none;
	border: 2px solid #000000;
	outline: none;
}

.search-button:hover {
	background-color: #000000;
	color: #ffffff;
}

.search-button:active {
	display: inline-block;
	background-color: #000000;
	color: rgba(255,255,255,0.3);
}

.search-field:focus ~ .search-button,
.search-field:active ~ .search-button {
	display: inline-block;
}

.user-block,
.footer-user-options {
  display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 30px;
	font-family: 'open_sanslight';
	margin-left: auto;
}

.user-block li {
	position: relative;
	margin-right: 35px;
}

.user-block li:first-child {
	margin-right: 209px;
}

.user-block li:nth-child(2) {
	margin-left: auto;
}

.user-block li:last-child {
	margin-right: 0;
}



.user-option {
	padding-left: 30px;
}

.user-option:hover,
.header-dropdown-item:hover,
.user-option:focus,
.header-dropdown-item:focus {
	opacity: 0.6;
}

.user-option:active,
.header-dropdown-item:active {
	opacity: 0.3;
}

.login::before {
	content: '';
	position: absolute;
	width: 13px;
	height: 12px;
	left: 4px;
	top: 9px;
	background-image: url(../img/user.svg);
	background-repeat: no-repeat;
}


.compare::before {
	content: '';
	position: absolute;
	width: 13px;
	height: 12px;
	left: 9px;
	top: 9px;
	background-image: url(../img/compare.svg);
	background-repeat: no-repeat;
}

.cart::before {
	content: '';
	position: absolute;
	width: 13px;
	height: 12px;
	left: 7px;
	top: 9px;
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
} 

.header-nav,
.footer-nav {
	display: flex;
	font-size: 18px;
	line-height: 24px;
	font-family: 'gilroyextrabold';
	letter-spacing: 3.6px;
	text-transform: uppercase;
}

.header-nav-block {
	margin-left: auto;
	display: flex;
}

.header-nav-block li {
	margin-right: 36px;
}

.header-nav-block a,
.plus a {
	position: relative;
}

.header-nav-block li:last-child {
	margin-right: 0px;
	margin-left: 67px;
}

.plus {
	position: relative;
}

.plus::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: 2px;
	right: 0;
	background-image: url(../img/plus.svg);
	opacity: 0.3;
	cursor: pointer;
}

.header-item:hover,
.header-item:focus {
	opacity: 0.6;
}

.header-item:active {
	opacity: 0.3;
}

.device-category .category-item {
  display: flex;
}

.header-dropdown {
	display: none;
	position: absolute;
	width: 1160px;
	font-size: 15px;
	line-height: 36px;
	letter-spacing: 1px;
	font-family: 'open_sanslight';
	text-transform: capitalize;
	padding-top: 20px;
	bottom: 0px;
	transform: translateY(100%);
}

.header-dropdown::before {
	content: '';
	position: absolute;
	background: #f7e296;
	width: 1160px;
	height: 164px;
	left: -60px;
	top: 81px;
	transform: translateY(-50%);
}

.plus-item {
	padding-right: 30px;
}

.plus:hover .header-dropdown,
.plus a:focus ~ .header-dropdown {
	display: flex;
	z-index: 1;
}

.dropdown-list {
	display: flex;
	flex-direction: column;
}

.header-dropdown-item {
	margin-right: 40px;
}






.slider {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	min-height: 580px;
	margin-bottom: 12px;
}

.slider input[type='radio'] {
	position: absolute;
	opacity: 0;
}

.slider-description {
	flex-direction: column;
	width: 562px;
	margin-left: auto;
	padding-top: 8px;
	padding-right: 51px;
	transform: translate(0px,-40px);
}

/* .slider-description .divider {
	position: absolute;
	width: 100px;
	background-color: #ffffff;
	top: 21px;
	right: 40%;
} */

.slider-number {
	position: absolute;
	color: #ffffff;
	top: -12px;
	right: 50px;
	font-family: 'gilroyextrabold';
	font-size: 179px;
	line-height: 179px;
}

.slides h2,
.advantages-slides h2 {
	font-family: 'gilroyextrabold';
	font-size: 47px;
	letter-spacing: 1px;
	line-height: 56px;
	margin-bottom: 18px;
}

.slides p,
.advantages-slides p {
	color: #464646;
	font-family: 'open_sanslight';
	font-size: 15px;
	letter-spacing: 0;
	line-height: 30px;
	margin-bottom: 43px;
}

.slides a {
	margin-bottom: 44px;
}

.slides .button {
	width: 220px;
}

.slider-info {
	display: flex;
}

.slider-info li {
	margin-right: 70px;
}

.slider-info li:last-child {
	margin-right: 0;
}

.slider-info-item span {
	font-family: 'gilroylight';
	font-size: 36px;
	line-height: 60px;
	letter-spacing: 1px;
}

.slider-info-item p {
	font-family: 'open_sanslight';
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 1px;
}

.slide {
	display: none;
	animation: 30s 24s ease-in-out infinite;
	background-position: 20px 0;
}

.slider-decoration {
	position: relative;
	min-height: 112px;
	margin-left: auto;
	background-color: #f7e296;
	overflow: hidden;
	z-index: -1;
}

.slider-decoration .divider {
	position: absolute;
	width: 100px;
	background-color: #ffffff;
	top: 37px;
	right: 40%;
}

.slide1, .slide2, .slide3 {
	display: none;
}


.slider-inner {
	display: flex;
	justify-content: space-between;
}

/* .slide img {
	position: relative;
} */

.slide1 {
	left: 50px;
	bottom: 80px;
	background-image: url(../img/slider-1.png);
	background-repeat: no-repeat;
}

.slide2 {
	top: 0px;
	left: 0px;
	background-image: url(../img/slider-2.png);
	background-repeat: no-repeat;
}

.slide3 {
	top: 0px;
	left: 0px;
	background-image: url(../img/slider-3.png);
	background-repeat: no-repeat;
}


/* .slide1 {
	background-image: url(../img/slider-1.png);
	background-repeat: no-repeat;
	background-position: 70px 0px;
}

.slide2 {
	background-image: url(../img/slider-2.png);
	background-repeat: no-repeat;
	background-position: left top;
}

.slide3 {
	background-image: url(../img/slider-3.png);
	background-repeat: no-repeat;
	background-position: left top;
} */

input:checked:nth-child(1) ~ .slides .slide1 {
	display: block;
}

input:checked:nth-child(2) ~ .slides .slide2 {
	display: block;
}

input:checked:nth-child(3) ~ .slides .slide3 {
	display: block;
}

.slider-controls {
	position: absolute;
	top: 322px;
	right: 92px;
}

.slider-control {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin: 0 9px;
	border-radius: 50%;
	border: 1px solid #000000;
	background: #ffff;
	position: relative;
	cursor: pointer;
}

.slider-control::after {
	content: "";
	position: absolute;
	display: none;
	background: #ffffff;
	border: 2px solid #000;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	top: 2px;
	left: 2px;
}

input:checked:nth-child(1) ~ .slider-controls .slider-control:nth-child(1)::after {
	display: block;
}

input:checked:nth-child(2) ~ .slider-controls .slider-control:nth-child(2)::after {
	display: block;
}

input:checked:nth-child(3) ~ .slider-controls .slider-control:nth-child(3)::after {
	display: block;
}

input:focus:nth-child(1) ~ .slider-controls .slider-control:nth-child(1)::after,
input:focus:nth-child(2) ~ .slider-controls .slider-control:nth-child(2)::after,
input:focus:nth-child(3) ~ .slider-controls .slider-control:nth-child(3)::after {
	content: "";
	display: block;
	border: solid 4px #000;
	background: #000;
	width: 12px;
	height: 12px;
	top: -1px;
	left: -1px;
}

.categories {
	margin-bottom: 81px;
}

.device-category {
 display: flex;
 justify-content: space-between;
}

.device-category a:hover .category-item-background,
.device-category a:focus .category-item-background {
	background: #f0c52e;
}

.device-category a:active img,
.device-category a:active h3 {
	opacity: 0.6;
}  

.category-item {
	flex-direction: column;
}

.category-item h3 {
	font-family: 'gilroyextrabold';
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 1px;
}

.category-item-background {
	display: flex;
  justify-content: center;
  align-items: center;
	width: 160px;
	height: 160px;
	background: #f7e296;
	margin-bottom: 33px;
}

.device-category li:nth-child(2) .category-item-background {
	padding-top: 43px;
}

.category-item h3 {
	max-width: 160px;
}



.advantages-slider-background {
	background: linear-gradient(to bottom, #ffffff 26%, #e5e5e5 26%, #e5e5e5 100%);
}

.advantages-slider {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between; 
	padding-top: 71px;
}

.advantages-slides {
	margin-right: 65px;
}

.advantages-slider input[type=radio] {
	display: none;
}

input:checked:nth-child(1) ~ .advantages-slides .advantages-slide1 {
	display: block;
}

input:checked:nth-child(2) ~ .advantages-slides .advantages-slide2 {
	display: block;
}

input:checked:nth-child(3) ~ .advantages-slides .advantages-slide3 {
	display: block;
}


.advantages-slider h2 {
  margin-bottom: 25px;
}

.advantages-slider p {
	margin-bottom: 85px;
}

.advantages-slide {
	display: none;
	width: 695px;
	background-repeat: no-repeat;
	background-position: right 9%;
	padding-bottom: 60px;
}

.advantages-slide p {
	width: 440px;
}

.advantages-slide1 {
	background-image: url(../img/delivery.svg);
}

.advantages-slide2 {
	background-image: url(../img/warranty.svg);
}

.advantages-slide3 {
	background-image: url(../img/credit.svg);
}

.advantages-slider-controls {
	position: relative; 
	display: flex;
	flex-direction: column;
	left: 0;
	top: 9px;
	padding-right: 124px;
}

.advantages-slider-controls::after {
	content: "";
	position: absolute;
	width: 7px;
	height: 319px;
	background-color: #000000;
	right: 0;
	top: -80px;
}

.advantages-slider-control {
	display: inline-block;
	position: absolute;
	width: 160px;
	height: 40px;
	letter-spacing: 3px;
	margin-bottom: 25px;
	border-radius: 50%;
  position: relative;
	cursor: pointer;
	z-index: 1;
}

.advantages-slider-control::after {
	display: none;
	content: '';
	position: absolute;
	background-color: #000000;
	width: 278px;
	height: 40px;
	left: 0;
	top: 0;
	z-index: -1;
}


input:checked:nth-child(1) ~ .advantages-slider-controls .advantages-slider-control:nth-child(1),
input:checked:nth-child(1) ~ .advantages-slider-controls .advantages-slider-control:nth-child(1)::after {
	display: block;
}

input:checked:nth-child(2) ~ .advantages-slider-controls .advantages-slider-control:nth-child(2),
input:checked:nth-child(2) ~ .advantages-slider-controls .advantages-slider-control:nth-child(2)::after {
	display: block;
}

input:checked:nth-child(3) ~ .advantages-slider-controls .advantages-slider-control:nth-child(3),
input:checked:nth-child(3) ~ .advantages-slider-controls .advantages-slider-control:nth-child(3)::after {
	display: block;
}

input:checked:nth-child(1) ~ .advantages-slider-controls .button:nth-child(1) {
	color: #f7e296;
}

input:checked:nth-child(2) ~ .advantages-slider-controls .button:nth-child(2) {
	color: #f7e296;
}

input:checked:nth-child(3) ~ .advantages-slider-controls .button:nth-child(3) {
	color: #f7e296;
}




.partners {
	margin: 95px 0 89px;
}

.partners-logo {
	display: flex;
	flex-wrap: wrap;
}

.partners-logo-item {
	padding-right: 40px;
	filter: grayscale(100%);
	opacity: 0.2;
}

.partners-logo li:last-child .partners-logo-item{
	padding-right: 0px;
}

.partners-logo-item:hover,
.partners-logo-item:focus {
	filter: grayscale(0%);
	opacity: 1;
	transition-duration: 0.2s
}

.info-block {
	display: flex;
	justify-content: space-between;
	padding-bottom: 81px;
}

.about {
	width: 472px;
}

.contact  {
	width: 560px;
}

.info-block .divider {
	margin-bottom: 46px;
}

.about h3, .contact h3 {
	display: inline-block;
	font-family: 'gilroyextrabold';
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 1px;
	margin-bottom: 43px;
}

.about-text {
	margin-bottom: 37px;
}

.about p, .contact p {
	display: inline-block;
	font-family: 'open_sanslight';
	font-size: 15px;
	line-height: 30px;
	margin-bottom: 29px;
}

.contact p {
	margin-bottom: 40px;
}

.delivery-list {
	font-family: 'gilroyextrabold';
	font-size: 16px;
	line-height: 40px;
	margin-bottom: 55px;
}

.contact .map {
	display: inline-block;
	margin-bottom: 68px;
}

.delivery-list li {
	position: relative;
	padding-left: 35px;
}

.delivery-list li::before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0;
	top: 40%;
	border-radius: 50%;
	border: 2px solid #e5e5e5;
}

.info-block .button {
	width: 260px;
	letter-spacing: 2px;
}

.footer {
	background: #464646;
	padding-top: 57px;
	padding-bottom: 66px;
}

.footer .footer-user-options a,
.footer .footer-nav-block p,
.footer .footer-nav-block a {
	color:#ffffff;
}

.footer-user-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.footer-logo {
	color: #ffc600;
  font-family: 'gilroyextrabold';
  font-size: 48px;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: auto;;
}

.footer-user-options {
	display: flex;
	color: #ffffff;
}

.footer-user-options li {
	position: relative;
	margin-right: 34px;
	margin-bottom: 12px;
}

.footer-user-options li:last-child {
	margin-right: 0px;
}

.footer-user-options .login::before,
.footer-user-options .compare::before,
.footer-user-options .cart::before {
	filter: brightness(4) sepia(0) hue-rotate(65deg) saturate(110);
} 
 
.footer-nav-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 62px;
}

.footer-nav-block p,
.footer-nav-block .phone {
	font-size: 15px;
	line-height: 30px;
	font-family: 'open_sanslight';
}

.footer-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 425px;
	margin-left: -38px;
	padding-top: 4px;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.divider {
	width: 80px;
	height: 7px;
	background-color: #000000;
}

.footer-social .divider {
	background-color: #ffc600
}

.social-icons {
	display: flex;
	justify-content: space-between;
	width: 140px;
}

.footer-social-item {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	opacity: 0.3;
}

.footer-social-item a:hover,
.footer-social-item a:focus::before {
	opacity: 0.6;
}

.footer-social-item:active {
	opacity: 0.1;
}

.footer-social-item a {
	font-size: 0px;
}

.footer-social-item a::before {
	font-size: 0px;
	content: '';
	position: absolute;
	width: 32px;
	height: 32px;
}

.fb-icon::before {
	background-image: url(../img/fb.svg);
}

.insta-icon::before {
	background-image: url(../img/insta.svg);
}

.twitter-icon::before {
	background-image: url(../img/twitter.svg);
}

.footer-social img:hover,
.footer-social img:focus {
	opacity: 0.6;
}

.footer-social img:active {
	opacity: 0.3;
}

.academy-icon {
	padding-left: 50px;
}

.catalog-category-name {
	padding-left: 60px;
}


.catalog-title {
	font-size: 47px;
	font-family: 'gilroyextrabold';
	padding-top: 33px;
	margin-bottom: 20px;
}

.breadcrumbs {
	display: flex;
	font-size: 14px;
	font-family: 'open_sanslight';
	margin-bottom: 52px;
}

.breadcrumbs li {
	position: relative;
	padding-right: 40px;
	opacity: 0.3;
}

.breadcrumbs li:hover,
.breadcrumbs li:focus {
	opacity: 0.6;
}

.breadcrumbs li:active {
	opacity: 0.1;
}

.breadcrumbs .breadcrumbs-current:hover,
.breadcrumbs .breadcrumbs-current:active {
	opacity: 0.3;
}

.breadcrumbs li::after {
	content: '';
	position: absolute;
	width: 4px;
	height: 7px;
	right: 20px;
	top: 7px;
	background-image: url(../img/nav-arrow.svg);
	background-repeat: no-repeat;
}

.breadcrumbs li:last-child::after {
	display: none;
}

.main-catalog {
	position: relative;
}

.catalog-header {
	position: relative;
	background-color: #efefef;
}
.catalog-header::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 68px;
	background-color: #dbdbdb;
}

.catalog-header-content {
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.sidebar-filter {
	background-color: #eeeeee;
}

.sidebar-filter-header {
	background-color: #dbdbdb;
	padding-left: 60px;
	width: 372px;
	z-index: 1;

}

/* .sidebar-filter-header::before {
	content: '';
	position: absolute;
	width: 50%;
	height: 68px;
	background-color: #dbdbdb;
} */

.sidebar-filter-form {
	background-color: #eeeeee;
	padding: 70px 67px 70px 60px;
}

.filter-header {
	font-size: 16px;
	letter-spacing: 3.5px;
	font-family: 'gilroyextrabold';
	padding: 25px 0 25px;
	text-transform: uppercase;
	/* margin-bottom: 69px; */
}

.filter-slider {
	position: relative;
	margin-bottom: 14px;
	padding: 16px 0 28px;
}

.filter-slider::before,
.filter-slider::after {
	content: '';
	position: absolute;
	width: 200px;
	height: 2px;
	background: #000000;
	top: 0;
	left: 0;
}

.filter-slider::after {
	top: 140;
	left: 0;
}

.sidebar-filter h4 {
	font-size: 18px;
}

.filter-title-price,
.filter-properties-title,
.filter-bluetooth-title {
	font-size: 18px;
	font-family: 'gilroyextrabold';
	margin-bottom: 35px;
}

.filter-price {
	position: relative;
	background: #eeeeee;
	margin-bottom: 40px;
	padding: 0;
}

.slider-line {
	position: absolute;
	display: flex;
	background: #dbdbdb;
	height: 2px;
	width: 100%;
	top: 50%;
	margin-bottom: 15px;
}

.slider-line::before {
	content: '';
	height: 2px;
	background: #91c92f;
	width: 60%;
	top: 10%;
}

.filter-min, .filter-max {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	left: -6px;
	border-radius: 50%;
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
  box-shadow: 0 2px 2px -1px rgba(0,1,1, 0.25);
	cursor: pointer;
}

.filter-max {
	left: 107px;
}

.filter-min:active,
.filter-max:active {
	transform: scale(1.1,1.1);
}

.filter-inputs {
	display: flex;
	font-size: 14px;
	line-height: 22px;
	font-family: 'gilroylight';
	color: #000000;
	opacity: 0.2;
}

.price-start {
 margin-right: 31px;
}

.price-start label,
.price-end label {
	margin-right: 0px;
}

.filter-inputs input {
	font-size: 14px;
	line-height: 22px;
	color: #000000;
	border-radius: 3px;
	background: #eeeeee;
	border: none;
}

.filter-field {
	width: 40px;
	min-height: 38px;
}

.filter-properties-list label,
.filter-bluetooth-available label {
	color: #000000;
	font-size: 14px;
	line-height: 40px;
	font-family: 'open_sanslight';
}

.filter-option {
	position: relative;
}

.filter-option input[type=radio],
.filter-option input[type=checkbox] {
	display: none;
}

.filter-option label {
	padding-left: 42px;
}

.filter-option label:hover::before,
.filter-option label:focus::before {
	opacity: 0.6;
} 

.filter-option label:active::before {
	opacity: 1;
} 

.filter-properties-list label::before,
.filter-bluetooth-available label::before {
	content: '';
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 23px;
	top: 8;
	left: 3;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

.filter-bluetooth-available label::before {
	width: 25px;
	height: 25px;
	top: 10;
	background-image: url(../img/radio-off.svg);
}

.filter-properties-list .filter-input:checked+label::before {
	background-image: url(../img/checkbox-on.svg);
}

.filter-properties-list .filter-input:disabled + label,
.filter-properties-list .filter-input:disabled + label::before,
.filter-bluetooth-list .filter-input:disabled + label,
.filter-bluetooth-list .filter-input:disabled + label::before {
	opacity: 0.25;
} 

.filter-bluetooth-list .filter-input:checked+label::before {
	background-image: url(../img/radio-on.svg);
}

.filter-bluetooth-available {
	margin-bottom: 31px;
}

.filter-button {
	width: 200px;
	background: none;
	border: 0 solid rgba(0,0,0,0);
}

.catalog {
	/* max-width: 830px; */
	position: relative;
	background-color: #ffffff;
}

.catalog::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	height: 100%;
	width: 50%;
	background-color: #efefef;
}

.catalog-content {
	display: flex;
	margin: 0 auto;
	width: 1160px;
} 


.catalog-sort-background {
	/* background-color: #ebebeb; */
	padding-left: 69px;
}

.catalog-sorting {
	display: flex;
	justify-content: flex-start;
	padding: 25px 0;
	padding-left: 74px;
	width: 83%;
	z-index: 1;
	background-color: #efefef;
}

.catalog-sorting h4 {
	font-size: 16px;
	letter-spacing: 3.5px;
	font-family: 'gilroyextrabold';
	text-transform: uppercase;
	margin-right: 50px;
}

.sort-sites {
	margin-right: auto;
}

.sort-sites a {
	font-size: 14px;
	line-height: 18px;
	font-family: 'open_sansregular';
	opacity: 0.3;
	margin-right: 24px;
}

.sort-sites a:hover,
.sort-sites a:focus {
	opacity: 0.6;
}

.sort-sites a.active,
.sort-sites a:active {
	opacity: 1;
}

.sort-order {
	position: relative;
	font-size: 0px;
}

.sort-desc::before,
.sort-asc::before {
	content: '';
	position: absolute;
	width: 11px;
	height: 10px;
	top: 5px;
	right: 33px;
	background-image: url(../img/icon-up-dir.svg);
	background-repeat: no-repeat;
}

.sort-desc::before {
	right: 2px;
	background-image: url(../img/icon-down-dir.svg);
}

.sort-desc,
.sort-asc  {
	opacity: 0.2;
}

.sort-desc:hover,
.sort-desc:focus,
.sort-asc:hover,
.sort-asc:focus  {
	opacity: 0.4;
}

.sort-desc.active,
.sort-asc.active,
.sort-desc:active,
.sort-asc:active {
	opacity: 1;
}

.catalog-list-background {
	background-color: #ffffff;
	padding-left: 72px;
	padding-top: 70px;
	z-index: 1;
}

.catalog-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 760px;
}

.catalog-item {
	position: relative;
	margin-bottom: 53px;
}

.new::after {
	content:"New";
	position: absolute;
	width: 58px;
	height: 58px;
	right: 30px;
	top: 30px;
	padding: 20px 10px;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: 'gilroyextrabold';
	border-radius: 50%;
	border: 2px solid #000000;
	text-align: center;
	text-transform: uppercase;
	opacity: 0.1;
}

.catalog-item-image {
	margin-bottom: 33px;
}

.catalog-item-action {
	display: none;
	position: absolute;
	flex-direction: column;
	align-items: center;
	width: 360px;
	height: 380px;
	top: 0;
	left: 0;
	background-color: rgba(238,238,238,0.7);
	z-index: 1;
}

.catalog-item:hover .catalog-item-action {
	display: flex;
}

.catalog-button {
	width: 200px;
	margin-top: 170px;
	margin-bottom: 6px;
}

.catalog-item-compare {
	font-size: 13px;
	line-height: 36px;
	font-family: 'open_sanslight';
	opacity: 0.5;
}

.catalog-item-compare:hover,
.catalog-item-compare:focus {
	opacity: 1;
}

.catalog-item-compare:active {
	opacity: 0.2;
}

.catalog-item-info {
	display: flex;
	justify-content: space-between;
}

.catalog-item-title {
	max-width: 260px;
	font-size: 18px;
	font-family: 'gilroyextrabold';
}

.catalog-item-price {
	font-size: 16px;
	font-family: 'gilroylight';
	padding-top: 3px;
	color: #464646;
}

.pagination {
	display: flex;
	justify-content: space-between;
	background-color: #ebebeb;
	margin-bottom: 73px;
	max-width: 760px;
}

.pagination a {
	font-size: 16px;
	letter-spacing: 3.5px;
	font-family: 'gilroyextrabold';
	text-transform: uppercase;
}

.pagination-number {
	display: flex;
	padding: 26px 0;
}

.pagination-number .pagination-item {
	margin-right:	27px;
	opacity: 0.3;
}

.pagination-number .pagination-item:hover {
	opacity: 0.6;
}

.pagination-number .pagination-item:active,
.pagination-number .active,
.pagination-number .active:hover {
	opacity: 1;
}

.pagination .previous,
.pagination .next {
	padding: 26px 30px;
}

.pagination .previous:hover,
.pagination .next:hover {
	background-color: #d9d9d9;
}

.pagination .previous:active a,
.pagination .next:active a {
	opacity: 0.3;
}

.pagination .previous {
	margin-right: 41px;
}







.modal-overlay,
.map-overlay  {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.1);
	z-index: 999;
	display: none;
}

.modal-window {
	width: 960px;
	position: absolute;
	left: 50%;
	top: 100px;
	margin-left: -480px;
	background: #fff;
	opacity: 1;
	z-index: 1000;
	padding: 72px 100px 78px;
	box-shadow: 0 20px 40px 0 rgba(0,1,1,.75);
}

.modal-close,
.modal-map-close {
	font-size: 0;
	margin-bottom: 21px;
}

.modal-open {
	display: block;
}

.modal-close::after,
.modal-map-close::after {
	content: "";
	position: absolute;
	padding: 28px;
	right: 22px;
	top: 22px;
	background-image: url(../img/modal-close.svg);
	background-repeat: no-repeat;
	opacity: 0.5;
}

.modal-close:hover::after,
.modal-close:focus::after,
.modal-map-close:hover::after,
.modal-map-close:focus::after {
	opacity: 1;
}

.modal-close:active::after {
	opacity: 0.3;
}

.modal-inputs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 39px;
}

.form-input-item,
.form-message {
	display: flex;
	flex-direction: column;
}

.show-modal {
	display: block;
}

.modal-window label {
	font-family: 'gilroyextrabold';
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 13px;
}

.form-input-item input,
.form-message textarea {
	width: 360px;
	height: 50px;
	padding: 0 20px;
	font-family: 'open_sansregular';
	font-size: 14px;
	line-height: 18px; 
	background-color: #f2f2f2;
	border: 2px solid rgba(0,0,0,0);
}

.form-message textarea {
	height: 156px;
	width: 100%;
	padding-top: 15px;
	resize: none;
}

.form-input-item input:hover,
.form-message textarea:hover {
	background-color: #eaeaea;
}

.form-input-item input:focus,
.form-message textarea:focus {
	background-color: #ffffff;
	border: 2px solid #f7e296;
}

.form-message {
	margin-bottom: 39px;
}

.form-button {
	width: 200px;
	background: none;
	border: 0 solid rgba(0,0,0,0);
}

.modal-alert {
	font-size: 16px;
	line-height: 18px;
	font-family: 'open_sansregular';
	color: #fb565a;
	display: none;
}

.modal-error .modal-alert {
	display: block;
}

/* .map-overlay {
	background: rgba(0,0,0,0);
} */

.modal-map {
	height: 560px;
	padding: 0;
}


.show-modal .modal-animation {
	        animation-name: bounce;
	        animation-duration: 0.5s;
}

.show-modal .modal-error {
	        animation-name: shake;
	        animation-duration: 0.6s;
}



@keyframes bounce {
	0% 	 { 
		        transform: translateY(-2000px); 
	}
	70%  {  
		        transform: translateY(-30px); 	
	}
	90%  { 
		        transform: translateY(-10px); 	
	}
	100% { 
		        transform: translateY(0); 	    
	}
}

@keyframes shake {
	0%, 100% { 
		        transform: translateX(0); 
	}
	10%, 30%, 50%, 70%, 90% { 
		        transform: translateX(-10px); 
	}
	20%, 40%, 60%, 80% { 
		        transform: translateX(10px);  
	}
}


.modal-overlay:target {
	display: block;
}